<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
    <add key="WSGI_HANDLER" value="clef.app"/>
    <add key="WSGI_LOG" value="D:\home\LogFiles\wsgi.log"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*"
           modules="httpPlatformHandler" resourceType="Unspecified" />
      <httpPlatform processPath="D:\home\python364x64\python.exe"
                    arguments="manage.py runserver %HTTP_PLATFORM_PORT%"
                    requestTimeout="00:04:00"
                    startupTimeLimit="120"
                    startupRetryCount="3"
                    stdoutLogEnabled="true">
        <environmentVariables>
          <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot"/>
        </environmentVariables>
      </httpPlatform>
      <!-- <add name="PythonHandler" -->
      <!--   path="*" -->
      <!--   verb="*" -->
      <!--   modules="FastCgiModule" -->
      <!--   scriptProcessor="D:\home\python364x64\python.exe|D:\home\python364x64\wfastcgi.py" -->
      <!--   resourceType="Unspecified" -->
      <!--   requireAccess="Script"/> -->
    </handlers>
  </system.webServer>
</configuration>
