<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="D:\home\python364x64\python.exe"
                  arguments="-m flask run --port=%HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\python.log"
                  startupTimeLimit="5"
                  processesPerApplication="16">
      <environmentVariables>
        <!-- <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" /> -->
        <environmentVariable name="FLASK_APP" value="clef.py" />
        <environmentVariable name="DEBUG" value="1" />
        <environmentVariable name="FLASK_DEBUG" value="1" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
