footer.page-footer {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    padding-top: 8px;
}

body {
    margin-bottom: 90px;
}

footer ul { margin: 0; }

#nav-drop-down {
    min-width: 250px;
    top: -65px;
}

#page-warning {
    margin-right: 25px;
    color: #fff59d;
    opacity: 0; /* initially not visible */
}

#playlist-loading { height: 26px; }

#now-playing {
    padding-top: 12px;
    color: #616161;
}

#now-playing #now-playing-name {
    color: #212121;
}

@keyframes strobe-animation {
    0% { opacity: 1; }
    25% { opacity: 0.75; }
    50% { opacity: 0.25; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
}

@keyframes track-hover {
    0% { background: #81c784; }
    40% { background: #a5d6a7; }
    75% { background: #e8f5e9; }
    100% { background: none; }
}

.busy { animation: busy-animation 1.5s infinite; }

@keyframes busy-animation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.fade-alert {
    animation: fade-alert-animation 3s;
}

@keyframes fade-alert-animation {
    from { opacity: 1; }
    to { opacity: 0; }
}

li.track:hover { animation: track-hover 0.8s; }

#search-text {
    color: #d1d1d1;
    font-size: 12pt;
}

img.cover.big { height: 240px; }

.scroll-list { height: 500px; overflow: scroll;}

#playlists-preload {
    position: absolute;
    top:50%;
    left:50%;
    margin: -50px 0px 0px -50px;
}
