<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="StaticFile"
           path="*"
           verb="GET,HEAD,OPTION"
           modules="StaticFileModule"
           resourceType="Either"
           requireAccess="Read" />
    </handlers>
  </system.webServer>
</configuration>
