{% extends "layout.html" %}
{% block head %}
<style>
</style>
{% endblock %}
{% block nav %}
<li><a id="refresh-data" href="#">Refresh My Data<i id="refresh-data-icon" class="material-icons left">refresh</i></a></li>
<li><a href="playlists">Playlists</a></li>
<li><a href="artists">Artists</a></li>
{% if user.is_admin %}
<li class="divider"></li>
<li><a href="/admin">Administration</a></li>
{% endif %}
<!-- <li><a href="compare-to/cbilson">Compare with cbilson</a></li> -->
{% endblock %}
{% block body %}
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#users">Users</a></li>
      <li class="tab col s3"><a id="playlists-tab" href="#playlists">Playlists</a></li>
    </ul>
  </div>
  <div id="users" class="col s12">
    <table class="striped highlight">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Joined</th>
          <th>e-mail</th>
          <th>Playlists</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user_list.users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.joined}}</td>
          <td>{{user.email}}</td>
          <td class="playlist-count">{{user.playlist_count}}</td>
          <td>
            <span class="user-status">{{user.status}}</span>
            <span class="hide user-operation-progress">
              <progress></progress>
              <a class="user-operation-log" href="#!">log</a>
            </span>
          </td>
          <td>
            {% if user.status != 'Ready' %}
            <a class="waves-effect waves-light btn-small import-button"
               href="#!"
               data-user-id="{{user.id}}">
              <i class="material-icons">import_export</i>Import Playlists</a>
            {% endif %}
            <a class="waves-effect waves-light btn-small results-button hide"
               href="#!"
               target="_blank">Results</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">Total: {{user_list.total}} users, {{user_list.total_new}} new.</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="playlists" class="col s12">
    <div id="playlists-preload" class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <table class="striped highlight hide">
      <thead>
        <tr>
          <th>Id</th>
          <th>Owner</th>
          <th>Name</th>
          <th>Description</th>
          <th>Tracks</th>
          <th>Followers</th>
          <th>Genres</th>
        </tr>
      </thead>
      <tbody>
        <tr id="playlist-template" class="hide">
          <td class="playlist-id"></td>
          <td class="playlist-owner"></td>
          <td class="playlist-name"></td>
          <td class="playlist-description"></td>
          <td class="playlist-tracks"></td>
          <td class="playlist-followers"></td>
          <td class="playlist-genres"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/admin.js?{{range(1000000)|random}}"></script>
{% endblock %}
