{% extends "layout.html" %}
{% block nav %}
<li>
  <div id="refreshSpinner" class="preloader-wrapper small active hide">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div><a id="refreshData" href="#">Refresh My Data</a>
</li>
<li><a href="playlists">Playlists</a></li>
<li><a href="artists">Artists</a></li>
<!-- <li><a href="compare-to/cbilson">Compare with cbilson</a></li> -->
{% endblock %}
{% block body %}
<div class="row">
  <h1>{{user.display_name()}}</h1>
</div>
<div class="row">
  <div class="col s8">
    <h5>Your Artists</h5>
    <table class="striped">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Tracks</th>
        </tr>
      </thead>
      <tbody>
        {% for artist, tracks in artists %}
        <tr>
          <td>{{artist}}</td>
          <td>{{tracks}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul id="playlists">
      <li id="playlistItemTemplate" class="hide">TEMPLATE</li>
      {% for playlist in playlists %}
      <li data-cover-url="{{playlist.image_url}}"
          data-cover-width="{{playlist.image_width}}"
          data-cover-height="{{playlist.image_height}}">
        {{playlist.name}} ({{playlist.track_count}} tracks)
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col s4">
    <img id="playlistCover">
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
 var refreshData = document.getElementById('refreshData');
 var playlistsHtml = document.getElementById('playlists');
 var playlistCover = document.getElementById('playlistCover');

 refreshData.addEventListener('click', function(e) {
   if (refreshData.classList.contains('disabled')) { return; }
   refreshData.classList.add('disabled');
   document.getElementById('refreshSpinner').classList.remove('hide');
   var xhr = new XMLHttpRequest();
   xhr.open('POST', 'refresh');
   xhr.onload = function() {
     document.getElementById('refreshSpinner').classList.add('hide');
     if (xhr.status == 200) {
       var playlists = JSON.parse(xhr.responseText);
       var template = document.getElementById('playlistItemTemplate').cloneNode(true);
       while (playlistsHtml.firstChild)
         playlistsHtml.removeChild(playlistsHtml.firstChild);

       playlistsHtml.appendChild(template);

       for (var i = 0; i < playlists.length; i++) {
         var li = template.cloneNode();
         li.removeAttribute('id');
         li.classList.remove('hide');
         li.innerText = playlists[i].name + ' (' + playlists[i].track_count + ' tracks)';
         li.addEventListener('mouseenter', mouseEnterPlaylistItem);
         li.addEventListener('mouseleave', mouseLeavePlaylistItem);
         playlistsHtml.appendChild(li);
       }
     }

     refreshData.classList.remove('disabled');
   }

   xhr.send();
 });

 function mouseEnterPlaylistItem(item) {
   playlistCover.setAttribute('src', item.target.dataset.coverUrl);
 }

 function mouseLeavePlaylistItem(item) {
   playlistCover.setAttribute('src', '');
 }

 playlistItems = playlistsHtml.children;
 for (var i = 0; i < playlistItems.length; i++) {
   playlistItems[i].addEventListener('mouseenter', mouseEnterPlaylistItem);
   playlistItems[i].addEventListener('mouseleave', mouseLeavePlaylistItem);
 }
</script>
{% endblock %}
