{% extends "layout.html" %}
{% block nav %}
<li><a href="https://spotify.com/">Spotify</a></li>
{% endblock %}
{% block body %}
<p>
  Clef Notes is a song recommendation application. Based on a user's Spotify playlists and song preferences, Clef Notes will generate a list of similar songs that are tailored exactly to the user's preferences. Users will also be able to connect with other users with similar tastes so they can find new songs that they may also like or follow that person's playlists. Users will also be able to view their own preferences and learn about themselves and their musical tastes.</p>
<a href="/login">Click here to login</a>
{% endblock %}
