<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Clef Notes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/static/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="teal darken-4">
        <div class="nav-wrapper">
          <a class="brand-logo" href="/"><i class="material-icons">queue_music</i>Clef</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/about.html">About</a></li>
            <li><a href="https://wiki.illinois.edu/wiki/display/cs411sp18/Clef+Notes">Project Page</a></li>
            <li><a href="https://wiki.illinois.edu/wiki/display/cs411sp18/Project+Description+-+Clef+Notes">Description</a></li>
            <li><a href="https://wiki.illinois.edu/wiki/display/cs411sp18/Development+Plan+-+Clef+Notes">Development Plan</a></li>
            {% block nav %}
            {% endblock %}
          </ul>
        </div>
      </nav>
    </div>
    <div class="container" id="body-container">
      {% block body %}{% endblock %}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
  </body>
</html>
