<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Clef Notes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/static/app.css?{{range(100000)|random}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar-fixed">
      <ul id="nav-drop-down" class="dropdown-content">
        {% block nav %}
        {% endblock %}
        <li class="divider"></li>
        <li><a href="https://wiki.illinois.edu/wiki/display/cs411sp18/Clef+Notes">About</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper blue lighten-2 darken">
          <a class="brand-logo" href="/"><i class="material-icons">queue_music</i>Clef Notes</a>
          <ul class="right">
            <li>
              <div class="input-field">
                <input type="text" id="search-text" placeholder="search for something..." class="autocomplete">
              </div>
            </li>
            <li><a href="#!"><i class="material-icons right">search</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="nav-drop-down"><i class="material-icons right">menu</i></a></li>
          </ul>
          <i class="tooltipped material-icons right" id="page-warning">warning</i>
        </div>
      </nav>
    </div>
    <div class="container" id="body-container">
      {% block body %}{% endblock %}
    </div>
    <footer class="page-footer blue darken-2 grey-text text-lighten-3">
      <div class="container">
        <div class="row">
          <ul>
            <li>Commit: <a href="https://github.com/cbilson/clef/commit/{{build_ver}}">{{build_ver}}</a></li>
            <li>Commit Message: {{build_message}}</li>
            <li>Last updated: {{last_updated}}</li>
          </ul>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/app.js?{{range(1000000)|random}}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
