{% extends "user_layout.html" %}
{% block user_content %}
<h5>Playlists</h5>
<div class="col s8 scroll-list">
  <ul id="playlists">
    <li id="playlist-item-template" class="track hide">TEMPLATE</li>
    {% for playlist in playlists %}
    <li class="track" data-cover-url="{{playlist.image_url}}" data-id="{{playlist.id}}">
      {{playlist.name}} ({{playlist.track_count}} tracks)
    </li>
    {% endfor %}
  </ul>
</div>
<div class="col s4">
  <img id="playlist-cover" class="cover big">
  <audio controls>
    <source id="audio-preview" type="audio/mpeg">
  </audio>
  <i id="playlist-loading" class="material-icons right">access_time</i>
  <div class="switch">
    Autoplay
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>  </div>
</div>
{% endblock %}
