{% extends "layout.html" %}
{% block nav %}
<li><a id="refreshData" href="#">Refresh My Data</a></li>
<li><a id="my-artists.html" href="#">My Artists</a></li>
<li><a id="compare-to.html?id=cbilson" href="#">Compare with cbilson</a></li>
{% endblock %}
{% block body %}
<h1>{{user.display_name()}}</h1>
<h5>Your Playlists</h5>
<ul id="playlists">
  <li id="playlistItemTemplate" class="hide">TEMPLATE</li>
  {% for playlist in playlists %}
  <li>{{playlist.name}} ({{playlist.track_count}} tracks)</li>
  {% endfor %}
</ul>
{% endblock %}
{% block scripts %}
<script>
 var refreshData = document.getElementById('refreshData');
 var playlistsHtml = document.getElementById('playlists');
 refreshData.addEventListener('click', function(e) {
   if (refreshData.classList.contains('disabled')) { return; }
   refreshData.classList.add('disabled');
   var xhr = new XMLHttpRequest();
   xhr.open('POST', 'refresh');
   xhr.onload = function() {
     if (xhr.status == 200) {
       var playlists = JSON.parse(xhr.responseText);
       var template = document.getElementById('playlistItemTemplate').cloneNode(true);
       while (playlistsHtml.firstChild)
         playlistsHtml.removeChild(playlistsHtml.firstChild);

       playlistsHtml.appendChild(template);

       for (var i = 0; i < playlists.length; i++) {
         var li = template.cloneNode();
         li.removeAttribute('id');
         li.classList.remove('hide');
         li.innerText = playlists[i].name + ' (' + playlists[i].track_count + ' tracks)';
         playlistsHtml.appendChild(li);
       }
     }

     refreshData.classList.remove('disabled');
   }

   xhr.send();
 });
</script>
{% endblock %}
